{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5"></div>
                <div class="col-lg-9 col-md-7">
                    {% if products %}
                        <div class="product__discount">
                            <div class="section-title product__discount__title" style="margin-bottom: 0;">
                                <h2><span class="text-muted">Search result for: </span>{{ request.GET.q }}</h2>
                            </div>
                        </div>
                        <div class="filter__item">
                            <div class="row">
                                <div class="col-lg-4 col-md-5">
                                    <div class="filter__sort">
                                        <span>Sort By</span>
                                        <select>
                                            <option value="0">Default</option>
                                            <option value="0">Default</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="filter__found">
                                        <h6 class="product_found"><span>{{ total_data }}</span> Product{{ total_data|pluralize }} found</h6>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-3">
                                    <div class="filter__option">
                                        <span class="icon_grid-2x2"></span>
                                        <span class="icon_ul"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for data in products %}
                                <div class="col-lg-4 col-md-6 col-sm-6 product-box">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg">
                                            <img src="{{ data.productattribute_set.first.image_url1 }}" alt="">
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i><span>Wishlist</span></a></li>
                                                <li><a href="#"><i class="fa fa-eye"></i><span>View</span></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i><span>Cart</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="{{ data.slug }}/{{ data.id }}">{{ data.name }}</a></h6>
                                            <h5>${{ data.productattribute_set.first.price }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="product__discount">
                            <div class="section-title product__discount__title" style="margin-bottom: 0;">
                                <h2><span class="text-muted">No result for: </span>{{ request.GET.q }}</h2>
                                <hr>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row justify-content-center">
                        <a href="{% url 'shop:home' %}" class="boxed-btn">All Products</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock content %}

