<!doctype html>
{% load static %}
{% url 'main:home' as home_url %}
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if title %}
        <title> CDI | {{ title }} </title>
    {% else %}
        <title> CDI </title>
    {% endif %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/assets/img/favicon.ico' %}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'main/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/assets/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/animated-headline.css' %}">
	<link rel="stylesheet" href="{% static 'main/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/jquery-ui.min.css' %}" type="text/css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="{% static 'main/assets/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'main/assets/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'main/assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/assets/css/xzoom.css' %}">
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'main/assets/css/magnific-popup.css' %}" />
	<link rel="stylesheet" href="{% static 'main/assets/css/style.css' %}">

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            {% if request.get_full_path == home_url %}
                <a href="#header"><img src="{% static 'main/assets/img/logo/logo.png' %}" alt=""></a>
            {% else %}
                <a href="{{ home_url }}"><img src="{% static 'main/assets/img/logo/logo.png' %}" alt=""></a>
            {% endif %}
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i>
                    <span class="cart-list">{{ request.session.cartdata|length }}</span></a></li>
            </ul>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="{% static 'main/assets/img/language.png' %}" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                {% if request.get_full_path == home_url %}
                    <li class="active"><a href="#header">Home</a></li>
                {% else %}
                    <li><a href="{{ home_url }}">Home</a></li>
                {% endif %}
                <li><a href="{% url 'shop:home' %}">Shop</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="{% url 'shop:home' %}">Shop</a></li>
                        <li><a href="./shoping-cart.html">Wishlist</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                    </ul>
                </li>
                {% if request.get_full_path == home_url %}
                    <li><a href="#about">About</a></li>
                {% else %}
                    <li><a href="{{ home_url }}">About</a></li>
                {% endif %}
                {% if request.get_full_path == home_url %}
                    <li><a href="#services">Services</a></li>
                {% else %}
                     <li><a href="{{ home_url }}">Services</a></li>
                {% endif %}
                <li><a href="{% url 'blog:blogs' %}">Blog</a></li>
                {% if request.get_full_path == home_url %}
                    <li><a href="#contact">Contact</a></li>
                {% else %}
                    <li><a href="{{ home_url }}">Contact</a></li>
                {% endif %}
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook" title="Facebook" target="_blank"></i></a>
            <a href="#"><i class="fa fa-twitter" title="Twitter" target="_blank"></i></a>
            <a href="#"><i class="fa fa-linkedin" title="Linkedin" target="_blank"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> f.benayad95@gmail.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header id="header" class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li>
                                    <a href="mailto: f.benayad95@gmail.com">
                                        <i class="fa fa-envelope fa-2x"></i> hello@colorlib.com
                                    </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-home fa-2x"></i> &nbsp;Sat - Fri 08:00 - 16:00 &nbsp;</a>
                                    {% if is_open %}
                                        <a class="store-open"> &nbsp;Open</a></li>
                                    {% else %}
                                        <a class="store-closed"> &nbsp;Closed</a></li>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/people/Fou-Ad/100008522377284">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="https://twitter.com/FouAd44261068">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/fafo-palermo-856949205/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="{% static 'main/assets/img/language.png' %}" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                         <div class="humberger__menu__logo">
                            {% if request.get_full_path == home_url %}
                                <a href="#header"><img src="{% static 'main/assets/img/logo/logo.png' %}" alt=""></a>
                            {% else %}
                                <a href="{{ home_url }}"><img src="{% static 'main/assets/img/logo/logo.png' %}" alt=""></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            {% url 'main:home' as home_url %}
                            {% if request.get_full_path == home_url %}
                                <li class="active"><a href="#header">Home</a></li>
                            {% else %}
                                <li><a href="{{ home_url }}">Home</a></li>
                            {% endif %}
                            <li><a href="{% url 'shop:home' %}">Shop</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="{% url 'shop:home' %}">Shop</a></li>
                                    <li><a href="./shoping-cart.html">Wishlist</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                </ul>
                            </li>
                            {% if request.get_full_path == home_url %}
                                <li><a href="#about">About</a></li>
                            {% else %}
                                <li><a href="{{ home_url }}">About</a></li>
                            {% endif %}
                            {% if request.get_full_path == home_url %}
                                <li><a href="#services">Services</a></li>
                            {% else %}
                                 <li><a href="{{ home_url }}">Services</a></li>
                            {% endif %}
                            <li><a href="{% url 'blog:blogs' %}">Blog</a></li>
                            {% if request.get_full_path == home_url %}
                                <li><a href="#contact">Contact</a></li>
                            {% else %}
                                <li><a href="{{ home_url }}">Contact</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="{% url 'shop:cart' %}"><i class="fa fa-shopping-bag"></i>
                                <span class="cart-list">{{ request.session.cartdata|length }}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span>
                        </div>
                        <ul>
                            {% for category in categories %}
                            <li><a href="#">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'shop:search' %}">
                                <input name="q" type="text" placeholder="Search for product ?">
                                <button type="submit" class="site-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+213 5 51 90 34 35</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    {% block content %}
    {% endblock content %}

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding section-bg" data-background="{% static 'main/assets/img/gallery/footer_bg.png' %}">
            <div class="container">
                <!-- Footer Top -->
                <div class="footer-top">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="#header"><img src="{% static 'main/assets/img/logo/logo2_footer.png' %}" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Consectetur adipisicinhg cvelicsed do eiusmod tempor inciducvccnt ut labosvrer adipisic.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#"> Offers & Discounts</a></li>
                                        <li><a href="#"> Get Coupon</a></li>
                                        <li><a href="#">  Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>New Products</h4>
                                    <ul>
                                        <li><a href="#">Woman Cloth</a></li>
                                        <li><a href="#">Fashion Accessories</a></li>
                                        <li><a href="#"> Man Accessories</a></li>
                                        <li><a href="#"> Rubber made Toys</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="#">Frequently Asked Questions</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Report a Payment Issue</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8 col-md-7">
                            <div class="footer-copy-right">
                                <p>
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Developed by <a href="https://fouadben.herokuapp.com/" target="_blank">Fouad Benayad</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 col-md-5">
                            <div class="footer-copy-right f-right">
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter" title="Twitter" target="_blank"></i></a>
                                    <a href="https://www.facebook.com/sai4ull" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{% static 'main/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'main/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'main/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'main/assets/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'main/assets/js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'main/assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'main/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'main/assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'main/assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static 'main/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.sticky.js' %}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static 'main/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'main/assets/js/hover-direction-snake.min.js' %}"></script>


    <!-- contact js -->
    <script src="{% static 'main/assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'main/assets/js/contact.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'main/assets/js/mail-script.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'main/assets/js/xzoom.min.js' %}"></script>
    <script src="{% static 'main/assets/js/magnific-popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/assets/js/product-filter.js' %}"></script>
    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'main/assets/js/plugins.js' %}"></script>
    <script src="{% static 'main/assets/js/main.js' %}"></script>
    <script src="{% static 'main/assets/js/custom.js' %}"></script>

</body>
</html>