{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>{{ title }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Blog Area Start-->
        <section class="blog_area {{ class }} section-padding">
            <div class="container">
                <div class="row">
                  {% block content2 %}

                  {% endblock content2 %}
                  <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form method="post" enctype="multipart/form-data">
                                    {%csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input name="titleBlog" type="text" class="form-control" placeholder='Search Title'
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Search Title'">
                                            <div class="input-group-append">
                                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search</button>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Sections</h4>
                                <ul class="list cat-list">
                                    <form method="get" enctype="multipart/form-data" name="section">
                                        {% for section in sections %}
                                            <li>
                                                <button value="{{ section.id }}" name="section" class="d-flex">
                                                    <p>{{ section.name }}
                                                        &nbsp;({{ section.blogs.all.count }} Article{{ section.blogs.all.count|pluralize }})</p>
                                                </button>
                                            </li>
                                        {% endfor %}
                                    </form>
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                                {% for recent_post in recent_posts %}
                                    <div class="media post_item">
                                        <img src="{{ recent_post.image.url }}" alt="post">
                                        <div class="media-body">
                                            <a href="{% url 'blog:blog-detail' recent_post.id %}">
                                                <h3 style="color: #2d2d2d;">{{ recent_post.blog_title }}</h3>
                                            </a>
                                            <p>{{ recent_post.timestamp|date:"F d, Y" }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </aside>
                            <aside class="single_sidebar_widget newsletter_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Subscribe</button>
                                </form>
                            </aside>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
{% endblock content %}
