{% extends 'blog/blog_base.html' %}
{% load static %}

{% block content3 %}
    <div class="col-lg-8 posts-list">
         <div class="single-post">
            <div class="feature-img">
               <img class="img-fluid" src="{{ data.image.url }}" alt="">
            </div>
            <div class="blog_details">
               <h2 style="color: #2d2d2d;">{{ data.blog_title }}</h2>
               <ul class="blog-info-link mt-3 mb-4">
                  <li><a href="#"><i class="fa fa-user"></i> {{ data.section }}</a></li>
                  <li><a href="#"><i class="fa fa-comments"></i> ({{ comments.count }} Comment{{ comments.count|pluralize }})</a></li>
               </ul>

               <div class="quote-wrapper">
                  <div class="quotes">{{ data.blog }}</div>
               </div>

            </div>
         </div>
         <div class="navigation-top">
            <div class="d-sm-flex justify-content-between text-center">
               <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                  people like this</p>
               <div class="col-sm-4 text-center my-2 my-sm-0">
                  <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
               </div>
               <ul class="social-icons">
                  <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fab fa-behance"></i></a></li>
               </ul>
            </div>
            <div class="navigation-area">
               <div class="row">
                  {% if data.get_previous_by_timestamp %}
                     <div
                        class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                        <div class="thumb">
                           <a href="{% url 'blog:blog-detail' data.get_previous_by_timestamp.id %}">
                              <img class="img-fluid" src="{{ data.get_previous_by_timestamp.image.url }}" alt="">
                           </a>
                        </div>
                        <div class="arrow">
                           <a href="{% url 'blog:blog-detail' data.get_previous_by_timestamp.id %}">
                              <span class="lnr text-white ti-arrow-left"></span>
                           </a>
                        </div>
                        <div class="detials">
                           <p>Prev Post</p>
                           <a href="{% url 'blog:blog-detail' data.get_previous_by_timestamp.id %}">
                              <h4 style="color: #2d2d2d;">{{ data.get_previous_by_timestamp.blog_title }}</h4>
                           </a>
                        </div>
                     </div>
                  {% endif %}
                  {% if data.get_next_by_timestamp %}
                     <div
                        class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                        <div class="detials">
                           <p>Next Post</p>
                           <a href="{% url 'blog:blog-detail' data.get_next_by_timestamp.id %}">
                              <h4 style="color: #2d2d2d;">{{ data.get_next_by_timestamp.blog_title }}</h4>
                           </a>
                        </div>
                        <div class="thumb">
                           <a href="{% url 'blog:blog-detail' data.get_next_by_timestamp.id %}">
                              <img class="img-fluid" src="{{ data.get_next_by_timestamp.image.url }}" alt="">
                           </a>
                        </div>
                        <div class="arrow">
                           <a href="{% url 'blog:blog-detail' data.get_next_by_timestamp.id %}">
                              <span class="lnr text-white ti-arrow-right"></span>
                           </a>
                        </div>
                     </div>
                  {% endif %}
               </div>
            </div>
         </div>
         <div class="blog-author">
            <div class="media align-items-center">
               <div class="media-body">
                  <a>
                     <h1><b>Comments Area</b></h1>
                  </a>
                  <p>You can read All blog comments and write other ones too</p>
               </div>
            </div>
         </div>
         <div class="comments-area">
            <h4>{{ comments.count }} Comment{{ comments.count|pluralize }}</h4>
            {% for comment in comments %}
               <div class="comment-list">
                  <div class="single-comment justify-content-between d-flex">
                     <div class="user justify-content-between d-flex">
                        <div class="thumb">
                           <img src="{% static 'main/assets/img/blog/comment_1.png' %}" alt="">
                        </div>
                        <div class="desc">
                           <p class="comment">{{ comment.comment_text }}</p>
                           <div class="d-flex justify-content-between">
                              <div class="d-flex align-items-center">
                                 <h5>
                                    <a href="#">{{ comment.your_name }}</a>
                                 </h5>
                                 <p class="date">{{ comment.timestamp|date:"F d, Y" }} at {{ comment.timestamp|date:"H:i" }} </p>
                              </div>
                              <div class="reply-btn">
                                 <a href="#" class="btn-reply text-uppercase">reply</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            {% endfor %}
         </div>
         <div class="comment-form">
            <h4>Leave a Comment</h4>
            <form method="post" class="form-contact comment_form" id="commentForm" enctype="multipart/form-data">
               {%csrf_token %}
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <textarea class="form-control w-100" name="comment_text" id="comment" cols="30" rows="9"
                           placeholder="Type Your Comment" required></textarea>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <input class="form-control" name="your_name" id="name" type="text" placeholder="Your Name" required>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <input class="form-control" name="your_email" id="email" type="email" placeholder="Email">
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
               </div>
            </form>
         </div>
      </div>
{% endblock content3 %}
